In [5]:
import casjobs
import mastcasjobs

In [32]:
query = """
        select 
        o.raMean, o.decMean,o.iMeanPSFMag,o.zMeanPSFMag,o.iMeanKronMag,soa.iKronRad
        into mydb.[tester_footprint]
        from fGetNearbyObjEq(190.08143366297801,8.604570917416329,100) x
        JOIN MeanObjectView o on o.ObjID=x.ObjId
        LEFT JOIN StackObjectAttributes AS soa ON soa.objID = x.objID
        WHERE o.nDetections>5
        AND soa.primaryDetection>0
        """

jobs = mastcasjobs.MastCasJobs(context='PanSTARRS_DR2')
job_id = jobs.submit(query)
status = jobs.monitor(job_id)
print(status)

(5, 'finished')

In [33]:
jobs.get_table('tester_footprint',format='CSV')

Making output request for CSV-format data

<Table length=122747>
   raMean      decMean     iMeanPSFMag    ...   iMeanKronMag       iKronRad
  float64      float64       float64      ...     float64          float64
------------ ----------- ---------------- ... ---------------- ----------------
190.05128324  6.93880319  21.361499786377 ... 21.2168006896973 2.30843997001648
 190.0523569  6.94027371 21.2507991790771 ... 21.3239994049072 2.19130992889404
190.08776161  6.93986122 20.8083992004395 ... 20.5401992797852 2.92866992950439
190.09057969  6.93991714 19.5956001281738 ... 18.3535003662109 5.31024980545044
190.10009012  6.93839545 18.4531002044678 ... 17.8661003112793 4.86258983612061
190.10529212  6.94114869 21.1949005126953 ... 21.0482997894287 2.44005990028381
190.11260543  6.93828802 21.4435997009277 ... 21.4897994995117 2.02944993972778
190.13772825   6.9404929 20.7101001739502 ...  20.695499420166 2.38082003593445
190.14493814  6.94102785 21.3006992340088 ... 20.8894004821777   2.629390001297
189.90462698  6.94869917 21.3267002105713 ... 21.0251007080078 3.13503003120422
         ...         ...              ... ...              ...              ...
190.10037946 10.26639507 20.4344005584717 ...  20.136100769043           -999.0
190.10266565 10.26783713 21.2289009094238 ... 20.6881999969482 3.00705003738403
190.10831058 10.26652455 19.2891006469727 ... 18.8127994537354  4.4068398475647
 190.1246079 10.26845213  21.267599105835 ... 21.1912002563477 2.55615997314453
190.13550073  10.2676781 20.9547996520996 ...  21.048999786377 2.09710001945496
190.13893676 10.26855984 21.4682006835938 ... 21.4538993835449  2.4243700504303
190.14779528  10.2668701 14.4646997451782 ... 14.4968996047974 3.10728001594543
 190.1483199  10.2676621 18.1173992156982 ... 18.2516994476318           -999.0
190.15512997 10.26717742 21.1961002349854 ...  20.951000213623 2.86636996269226
190.19136271 10.26675182  19.323299407959 ... 19.4489002227783 2.70015001296997

In [31]:
jobs.drop_table_if_exists('tester_footprint')

In [1]:
from casjob_query import CASjobs_sources
from astropy.io import fits
from astropy.wcs import WCS

In [2]:
file = '/user/rridden/k2mosaic-c16-ch64-cad158222.fits'
wcs = WCS(fits.open(file)[2].header)

In [3]:
test = CASjobs_sources(wcs,maglim=15,context='gaia')

In [4]:
test.get_table()

 name not defined assigning default name.
GAIA_DR2
(5, 'finished')

In [5]:
test.table

             ra        dec       gaia
0    137.566107  18.405963  12.356858
1    137.539762  18.498916  14.953719
2    137.597301  18.522046  11.032606
3    137.823540  18.029788  14.102205
4    137.896383  18.104740  13.588293
..          ...        ...        ...
651  137.230772  18.556335  13.095534
652  137.227171  18.571667  13.402422
653  137.170155  18.551554  14.054524
654  137.130035  18.561492  14.196590
655  137.432853  18.553844  14.207316

[656 rows x 3 columns]